:root {
    --maxw:450px;
}

* {
    margin:0;
    box-sizing:border-box;
    text-align:center;
}
button {
    border:none;
}
body {
    font-size: 0;
}

#tabs {
    margin:10px 10px 0 10px;
    font-size:0;
    width:100%;
    max-width:var(--maxw);
}
#tabs button {
    width:20%;
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-left:1px solid black;
    padding:8px 15px;
    font-weight:bold;
    background-color:grey;
}
#tabs button:last-child {
    border-right:1px solid black;
}
#tabs .selected {
    background-color:white;
    border-bottom:none;
}

#gamearea {
    width:100%;
    max-width:var(--maxw);
    margin:0 10px 10px 10px;
    text-align:center;
    border-left:1px solid black;
    border-bottom:1px solid black;
    border-right:1px solid black;
}
#gamearea h2 {
    font-size: 55px;
    text-align:center;
    padding:10px 0;
    margin:-1px 0 0 0;
}

#operands {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
#operands div {
    color:black;
    background-color:white;
    border:3px dashed black;
    width:24%;
    padding-bottom:24%;
    border-radius:50%;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    font-size:30px;
    margin:2%;
    user-select:none;
}
#operands div.empty {
    visibility:hidden;
}
#operands div span {
    position:  absolute;
    display:flex;
    justify-content: center;
    align-items:center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#operators {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-top:10px
}
#operators div {
    color:white;
    background-color:black;
    width:40px;
    height:40px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items: center;
    font-weight:bold;
    font-size:32px;
    margin:8px;
    user-select:none;
}
#operators #undo {
    background-color: green;
}

#gamearea div.selected {
    background-color: green;
    color:white;
    border:none;
}